@import url("https://fonts.googleapis.com/css2?family=Capriola&display=swap");

body {
  background-color: #f1f1f1;
  font-family: "Capriola", sans-serif;
}
.landing-page {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 2600 1440'%3E%3Cdefs%3E%3ClinearGradient id='a' x1='862.49' y1='-420.67' x2='1546.24' y2='981.21' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='.1' stop-color='%23405566'/%3E%3Cstop offset='.27' stop-color='%23405566'/%3E%3Cstop offset='.63' stop-color='%233b5562'/%3E%3Cstop offset='.88' stop-color='%233b5562'/%3E%3C/linearGradient%3E%3C/defs%3E%3Cpath d='M0 0v952.71l497.08 428.77c44.64 38.51 122.25 50 172.46 25.57L2600 467.26V0z' fill='url(%23a)'/%3E%3Cpath d='M624.43 1418.11c-44.33 4.25-94.67-9.44-127.35-37.63L0 952.48v50.82l452.08 389.18c44.61 38.52 122.13 50 172.35 25.63z' fill='%232a4658' opacity='.3'/%3E%3C/svg%3E ");
  background-position-x: -225px;
  height: auto;
}
.text-danger {
  font-size: 12px;
  color: #ff0000;
}
.headroom-wrapper{
  height: 0  !important;
}
@media (min-width: 768px) {
  .landing-page {
    height: 1080px;
  }
  .landing-page .banner {
    margin-left: 89%;
    transform: translateX(-80%);
    max-width: 100%;
  }
}
.sub-header-page {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' viewBox='0 0 2600 1100'%3E%3Cdefs%3E%3ClinearGradient id='a' x1='-153' y1='642.88' x2='3129.11' y2='642.88' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='.1' stop-color='%23405566'/%3E%3Cstop offset='.27' stop-color='%23405566'/%3E%3Cstop offset='.63' stop-color='%23405566'/%3E%3Cstop offset='.88' stop-color='%233b5562'/%3E%3C/linearGradient%3E%3ClinearGradient id='b' y1='264.94' x2='3129.11' y2='264.94' xlink:href='%23a'/%3E%3C/defs%3E%3Cpath d='M2019.51 188.57c17.85 4.08 35.64 13 52.49 29.43l528 635.74v-66.18L2127 218c-34.41-33.57-72.76-35.77-107.49-29.43z' fill='%232a4658' opacity='.3'/%3E%3Cpath d='M1945 193L0 714v386h2600V853.33L2072 218c-41-40-87.59-35.47-127-25z' fill='url(%23a)'/%3E%3Cpath d='M2308.31 91c-60.24 17.09-77.23 69.94-37.76 117.43l210.94 253.81c26.74 32.19 72.83 54 118.51 59.37V8.25z' fill='url(%23b)'/%3E%3C/svg%3E");
  background-position-x: 0;
  background-repeat: no-repeat;
  background-size: cover;
  transform: rotate(-180deg);
  height: auto;
}
@media (min-width: 1150px) {
  .sub-header-page {
    background-position-y: -90px;
  }
}
.sub-header-page h2,
.sub-header-page img {
  transform: rotate(180deg);
}
.sub-header-page h2 {
  text-shadow: 0px 1px 2px rgb(151 228 93 / 66%),
    1px 2px 4px rgb(255 255 255 / 70%);
}
/* nav img{
  -webkit-filter: brightness(0) invert(1);
    filter: brightness(0) invert(1);
} */
.footer img {
  -webkit-filter: brightness(0) invert(1);
  filter: brightness(0) invert(1);
}
nav.is-sticky {
  background-color: #f8f8f8;
}

nav .mobilemenu {
  transform: translateX(300px);
}
nav .mobilemenu img {
  -webkit-filter: none;
  filter: none;
}
nav .mobilemenu.showMenu {
  transform: translateX(0);
}
.headroom-wrapper {
  position: fixed;
  z-index: 99;
  width: 100%;
}
nav li.menu-item-has-children:hover > a,
nav li.menu-item-has-children > a {
  border-bottom: none !important;
}
nav li.menu-item-has-children:hover > ul,
nav li.menu-item-has-children > ul > li:hover > ul {
  visibility: visible;
  opacity: 1;
}
.headroom.headroom--pinned.headroom--scrolled nav {
  background-color: #fff;
  --tw-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
    0 4px 6px -2px rgba(0, 0, 0, 0.05);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000),
    var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}
.headroom.headroom--pinned.headroom--scrolled .top-header {
  display: none;
}
.headroom.headroom--pinned.headroom--scrolled nav img {
  filter: none;
}
.headroom.headroom--pinned.headroom--scrolled nav .h-28 {
  height: 4.5rem;
}
/*.headroom.headroom--pinned.headroom--scrolled li a,.headroom.headroom--pinned.headroom--scrolled li i {
  color:#3b5562;
} */
.headroom li.active a {
  border-color: #405566;
}
.slick-slider .slick-arrow:hover svg,
.slick-slider .slick-arrow:focus svg,
.latest-news .sectiontitle h2 {
  color: #fff !important;
}
.latest-news .sectiontitle hr {
  background-color: #fff !important;
}
.about-dial .sectiontitle h2,
.about-dial .sectiontitle p {
  color: #fff !important;
}
.study_destinations .sectiontitle h2 {
  color: #76bb47;
}
/* .headroom.headroom--pinned.headroom--scrolled li.active a{
  border-color:#97e45d;
}
.headroom.headroom--pinned.headroom--scrolled li a:hover {
border-color: #97e45d
}
.headroom.headroom--pinned.headroom--scrolled li.login a {
    color:#3b5562;
    border-color:#3b5562
}
.headroom.headroom--pinned.headroom--scrolled li.login a:hover{
  border-color: #97e45d;
  color:#000;
  background-color:#97e45d;
} */
.abroad-studies span {
  text-shadow: 0px 1px 2px rgb(30 29 39 / 19%), 1px 2px 4px rgb(54 64 147 / 18%);
}
.testimonial .slick-slide.slick-current {
  /* width:425px !important; */
}
.testimonial .slick-slide.slick-active .bg-white {
  z-index: 9;
}

@media (min-width: 670px) {
  .testimonial .slick-slide.slick-current .bg-white {
    margin: 0rem -2rem;
  }
  .testimonial .slick-slide.slick-current .bg-white {
    background-color: #405566;
    z-index: 99;
  }
  .testimonial .slick-slide.slick-current .bg-white p,
  .testimonial .slick-slide.slick-current .bg-white i {
    color: #fff;
  }
}

input,
textarea {
  padding: 0.5rem;
}
.services div.col-12 h2 {
  color: #fff;
  text-shadow: 0px 1px 2px rgb(30 29 39 / 9%), 1px 2px 4px rgb(54 64 147 / 18%);
}
.services > div:nth-child(odd) div.rounded-lg {
  background-color: #97e45d;
}
.services > div:last-child {
  margin-bottom: 0;
}
.services > div:nth-child(odd) p {
  color: #000;
}
.text-red {
  color: red;
}
.rs-uploader-trigger input[type="file"] {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
}
/* .rs-uploader-picture-text .rs-uploader-trigger-btn, .rs-uploader-text .rs-uploader-trigger-btn {
    display: inline-block;
    margin-bottom: 0;
    font-weight: 400;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    outline: 0!important;
    white-space: nowrap;
    border: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    padding: 8px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    border-radius: 6px;
    color: #575757;
    background: #f7f7fa;
}
.rs-uploader-picture-text .rs-uploader-trigger:not(.rs-uploader-trigger-disabled) .rs-uploader-trigger-btn, .rs-uploader-text .rs-uploader-trigger:not(.rs-uploader-trigger-disabled) .rs-uploader-trigger-btn {
    overflow: hidden;
    position: relative;
}
.rs-uploader-picture-text .rs-uploader-trigger:not(.rs-uploader-trigger-disabled) .rs-uploader-trigger-btn:not(.rs-btn-disabled) .rs-ripple-pond, .rs-uploader-text .rs-uploader-trigger:not(.rs-uploader-trigger-disabled) .rs-uploader-trigger-btn:not(.rs-btn-disabled) .rs-ripple-pond {
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    pointer-events: none;
}
.rs-uploader-picture-text .rs-uploader-trigger:not(.rs-uploader-trigger-disabled) .rs-uploader-trigger-btn:not(.rs-btn-disabled) .rs-ripple, .rs-uploader-text .rs-uploader-trigger:not(.rs-uploader-trigger-disabled) .rs-uploader-trigger-btn:not(.rs-btn-disabled) .rs-ripple {
    position: absolute;
    display: block;
    border-radius: 50%;
    background-color: rgba(0,0,0,.2);
    -webkit-transform: scale(0);
    transform: scale(0);
    -webkit-transition: 0s;
    transition: 0s;
} */
.rs-uploader-picture-text .rs-uploader-file-item {
  position: relative;
  height: 50px;
  padding-left: 50px;
  margin-top: 10px;
  padding-right: 30px;
  border: 1px solid #d9d9d9;
  border-radius: 6px;
  overflow: hidden;
  -webkit-transition: background-color 0.3s linear;
  transition: background-color 0.3s linear;
}
.rs-uploader-picture-text .rs-uploader-file-item {
  position: relative;
  height: 50px;
  padding-left: 50px;
  margin-top: 10px;
  padding-right: 30px;
  border: 1px solid #d9d9d9;
  border-radius: 6px;
  overflow: hidden;
  -webkit-transition: background-color 0.3s linear;
  transition: background-color 0.3s linear;
}
.rs-uploader-picture-text .rs-uploader-file-item-icon-wrapper {
  display: none;
}
.rs-uploader-picture-text .rs-uploader-file-item-icon-wrapper {
  display: none;
}
.rs-uploader-picture-text .rs-uploader-file-item-preview {
  position: absolute;
  left: 0;
  top: 0;
  width: 50px;
  height: 50px;
  vertical-align: middle;
  text-align: center;
  background-color: #d9d9d9;
  overflow: hidden;
  border-radius: 6px 0 0 6px;
}

.rs-uploader-picture-text .rs-uploader-file-item-preview > img {
  width: 100%;
  height: auto;
}
.rs-uploader-picture-text .rs-uploader-file-item-preview > img {
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}
.rs-uploader-picture-text .rs-uploader-file-item-content {
  padding: 5px 12px;
  font-size: 13px;
}
.rs-uploader-picture-text
  .rs-uploader-file-item-has-error
  .rs-uploader-file-item-status,
.rs-uploader-picture-text
  .rs-uploader-file-item-has-error
  .rs-uploader-file-item-title {
  display: block;
  color: #f44336;
}
.rs-uploader-picture-text
  .rs-uploader-file-item-content
  .rs-uploader-file-item-title {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 100%;
  color: #575757;
}
.rs-uploader-picture-text
  .rs-uploader-file-item-content
  .rs-uploader-file-item-size,
.rs-uploader-picture-text
  .rs-uploader-file-item-content
  .rs-uploader-file-item-title {
  display: block;
}
.rs-uploader-picture-text
  .rs-uploader-file-item-has-error
  .rs-uploader-file-item-status,
.rs-uploader-picture-text
  .rs-uploader-file-item-has-error
  .rs-uploader-file-item-title {
  display: block;
  color: #f44336;
}
.rs-uploader-picture-text
  .rs-uploader-file-item-content
  .rs-uploader-file-item-title {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 100%;
  color: #575757;
}
.rs-uploader-picture-text
  .rs-uploader-file-item-content
  .rs-uploader-file-item-size,
.rs-uploader-picture-text
  .rs-uploader-file-item-content
  .rs-uploader-file-item-title {
  display: block;
}
.rs-uploader-picture-text
  .rs-uploader-file-item-has-error
  .rs-uploader-file-item-status
  a,
.rs-uploader-picture-text
  .rs-uploader-file-item-has-error
  .rs-uploader-file-item-status
  a:hover,
.rs-uploader-picture-text
  .rs-uploader-file-item-has-error
  .rs-uploader-file-item-title
  a,
.rs-uploader-picture-text
  .rs-uploader-file-item-has-error
  .rs-uploader-file-item-title
  a:hover {
  text-decoration: none;
}
.rs-uploader-file-item-icon-reupload {
  cursor: pointer;
  margin-left: 10px;
  color: #575757;
}
.rs-uploader-file-item-icon-reupload:before {
  font-family: "FontAwesome";
  content: "\f01e";
  font-style: normal;
}
.rs-uploader-picture-text .rs-uploader-file-item-btn-remove {
  position: absolute;
  top: 0;
  right: 12px;
  color: #8e8e93;
  cursor: pointer;
  height: 50px;
  line-height: 50px;
}
.rs-uploader-picture-text .rs-uploader-file-item-btn-remove:before {
  font-family: "FontAwesome";
  font-style: normal;
  line-height: 1;
  content: "\f00d";
}
.rs-uploader-picture-text .rs-uploader-file-item-progress {
  position: absolute;
  bottom: 0;
  width: 100%;
  left: 0;
  padding-left: 50px;
}
.rs-uploader-picture-text .rs-uploader-file-item-progress-bar {
  height: 2px;
  background-color: #3498ff;
  -webkit-transition: width 0.3s ease-in-out;
  transition: width 0.3s ease-in-out;
}
.rs-uploader-picture-text .rs-uploader-file-item-btn-remove [aria-hidden] {
  display: none;
}
.btn:disabled {
  opacity: 1;
  color: #c5c6c7;
  background-color: #f7f7fa;
  cursor: not-allowed !important;
}
/* .footer{
    background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' viewBox='0 0 2600 1100'%3e%3cdefs%3e%3clinearGradient id='a' x1='-153' y1='642.88' x2='3129.11' y2='642.88' gradientUnits='userSpaceOnUse'%3e%3cstop offset='.1' stop-color='%23051937'/%3e%3cstop offset='.27' stop-color='%230e2843'/%3e%3cstop offset='.63' stop-color='%23014366'/%3e%3cstop offset='.88' stop-color='%233b5562'/%3e%3c/linearGradient%3e%3clinearGradient id='b' y1='264.94' x2='3129.11' y2='264.94' xlink:href='%23a'/%3e%3c/defs%3e%3cpath d='M2019.51 188.57c17.85 4.08 35.64 13 52.49 29.43l528 635.74v-66.18L2127 218c-34.41-33.57-72.76-35.77-107.49-29.43z' fill='%232a4658' opacity='.3'/%3e%3cpath d='M1945 193L0 714v386h2600V853.33L2072 218c-41-40-87.59-35.47-127-25z' fill='url(%23a)'/%3e%3cpath d='M2308.31 91c-60.24 17.09-77.23 69.94-37.76 117.43l210.94 253.81c26.74 32.19 72.83 54 118.51 59.37V8.25z' fill='url(%23b)'/%3e%3c/svg%3e");
    background-color: #fff;
    background-repeat: no-repeat;
    padding-bottom: 0;
    background-size: cover;
    background-size: auto 1100px;ss
    height:auto;
    background-position-y: 150px;
    background-position-x: -738.5px;
}
 */
@media (min-width: 1024px) {
  .services > div:nth-child(odd) > div {
    order: 2;
    margin-left: -5rem;
    margin-right: 0;
  }
  .services > div:nth-child(odd) > img {
    order: 1;
  }
  .services div.col-12 h2 {
    color: #000;
  }
}

@media (max-width: 479px) {
  .container {
    width: 95%;
  }
}
@media (max-width: 576px) {
  .sub-header-page {
    background-position-x: -200px;
  }
}
