@tailwind base;

@tailwind components;

@tailwind utilities;

.btn {
    @apply px-6 md:px-10 rounded-3xl py-2 md:py-3 inline-block transition-all duration-500 uppercase text-sm sm:text-base text-black bg-primary font-bold focus:outline-none focus:bg-secondary focus:text-white  hover:bg-secondary hover:text-white mr-2 mb-2
}
.rs-uploader-trigger-btn {
    @apply px-8 rounded-3xl py-2 inline-block transition-all duration-500 uppercase text-sm sm:text-base text-black bg-primary font-bold focus:outline-none focus:bg-secondary focus:text-white  hover:bg-secondary hover:text-white mr-2 mb-2

}