node_modules
vendor
.git
.env
storage/*.key
npm-debug.log
yarn-error.log
public/storage
public/hot
public/css/frontend/mainstyles.css.map
public/js/frontend/*.map
tests
Dockerfile
docker-compose.yml
.github
README.md
implementation_plan.md
task.md
