/* #### Front-End Design and Develop By: Bikash Bhandari (bikash.433@gmail.com) #### */
@charset "utf-8";
/* CSS Document */
@font-face
{
	font-family:"ubuntu-b-webfont";
	src: url('../fonts/ubuntu-b-webfont.eot');
    src: url('../fonts/ubuntu-b-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/ubuntu-b-webfont.woff') format('woff'),
         url('../fonts/ubuntu-b-webfont.ttf') format('truetype'),
         url('../fonts/ubuntu-b-webfont.svg') format('svg');
    font-style: normal;
	font-weight: normal;
}

@font-face
{
	font-family:"ubuntu-m-webfont";
	src: url('../fonts/ubuntu-m-webfont.eot');
    src: url('../fonts/ubuntu-m-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/ubuntu-m-webfont.woff') format('woff'),
         url('../fonts/ubuntu-m-webfont.ttf') format('truetype'),
         url('../fonts/ubuntu-m-webfont.svg') format('svg');
    font-style: normal;
	font-weight: normal;
}

@font-face
{
	font-family:"ubuntu-r-webfont";
	src: url('../fonts/ubuntu-r-webfont.eot');
    src: url('../fonts/ubuntu-r-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/ubuntu-r-webfont.woff') format('woff'),
         url('../fonts/ubuntu-r-webfont.ttf') format('truetype'),
         url('../fonts/ubuntu-r-webfont.svg') format('svg');
    font-style: normal;
	font-weight: normal;
}

@font-face
{
	font-family:"ubuntu-l-webfont";
	src: url('../fonts/ubuntu-l-webfont.eot');
    src: url('../fonts/ubuntu-l-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/ubuntu-l-webfont.woff') format('woff'),
         url('../fonts/ubuntu-l-webfont.ttf') format('truetype'),
         url('../fonts/ubuntu-l-webfont.svg') format('svg');
    font-style: normal;
	font-weight: normal;
}