.form_error {
  border: 1px solid #e00;
}

@media (min-width: 992px) {
  .sidebar-minimized .sidebar .sidebar-minimizer {
    position: fixed;
    bottom: 0;
    width: 50px;
    height: 50px;
    background-color: #2a3f54;
  }
}
@media (min-width: 992px) {
  .sidebar .sidebar-minimizer {
    position: fixed !important;
    bottom: 0;
    width: 50px;
    height: 50px;
    background-color: #2a3f54;
  }
}
.app-header {
  background-color: #2a3f54 !important;
  border-bottom: 1px solid #c8ced3;
}
.navbar-nav .nav-link {
  color: #f8fafc !important;
}
.sidebar {
  background: #2a3f54 !important;
}
.sidebar .sidebar-minimizer {
  background-color: #2a3f54 !important;
}

.login {
  background-color: #3a414a;
}
ul.checktree li:before {
  height: 1em;
  width: 12px;
  border-bottom: 1px dashed;
  content: "";
  display: inline-block;
  top: -0.3em;
}

ul.checktree li {
  border-left: 1px dashed;
}

ul.checktree li:last-child:before {
  border-left: 1px dashed;
}

ul.checktree li:last-child {
  border-left: none;
}
.checkbox-wrapper {
  float: right;
  width: 460px;
}
.checkbox-wrapper span.inline-check.mw_100 {
  min-width: 85px !important;
}
span.inline-check {
  font-size: 12px;
}
.checkbox-wrapper span {
  position: relative;
  padding-left: 15px;
}
.checkbox-wrapper input[type="checkbox"] {
  position: absolute;
  left: 0px;
  top: 2px;
}
span.inline-check {
  min-width: 30% !important;
  display: inline-block;
}
.perm-check {
  display: inline-block !important;
}

@media (max-width: 1024px) {
  .checkbox-wrapper {
    width: 100%;
    float: none;
    padding-left: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
  }
}
.breadcrumb {
  padding: 5px 15px !important;
  margin-bottom: 15px !important;
}
.card-header {
  padding: 0px !important;
}
.card-header .card-title {
  font-size: 14px;
  margin-bottom: 0px;
  padding: 8px 0;
  text-align: center;
}
.table .thead-light th {
  font-weight: 400 !important;
  font-size: 13px;
  padding: 5px 10px;
  /* text-align: left !important; */
}
.main .container-fluid {
  padding: 0 15px !important;
}
.card-body {
  padding: 10px 15px !important;
}
.form-horizontal .form-group label,
.form-horizontal .form-group input,
.form-horizontal .form-group select {
  font-size: 13px;
}
/* .card-header .fa{
    font-size: 18px !important;
  } */
.checkbox label {
  display: inline-block;
}
.checkbox input[type="checkbox"] {
  display: inline-block;
  margin-left: 9px;
  margin-top: 0;
  position: relative;
  top: 4px;
}
@media (min-width: 992px) {
  .sidebar-fixed .app-header + .app-body .sidebar {
    height: 100% !important;
  }
}

.rst__nodeContent {
  top: 12px !important;
  height: 40px;
}
/* .rst__node{
    height: 38px !important;
    top: 38px !important;
} */
.rst__rowWrapper {
  padding: 0px !important;
}
.moduleorder {
  height: 600px;
  overflow: scroll;
}
.moduleorder::-webkit-scrollbar,
.ReactTable .rt-table::-webkit-scrollbar,
.ReactTable .rt-tbody::-webkit-scrollbar {
  display: none;
}
.ps--active-y > .ps__rail-y {
  display: none !important;
}
/* .sidebar-minimized.sidebar-fixed .sidebar{
    width: 40px !important;
}
@media(min-width: 991px){
    .sidebar-minimized .sidebar .sidebar-minimizer{
        width: 40px;
    }
    .sidebar-minimized .sidebar .nav-link .nav-icon{
        width: 40px !important;
        font-size: 15px !important;
    }
    .sidebar-minimized .sidebar .nav-item{
        width: 40px !important;
    }
    .sidebar-minimized .sidebar .nav-dropdown-items .nav-item{
        width: 200px !important;
    }
    .sidebar-minimized .sidebar .sidebar-nav,
    .sidebar-minimized .sidebar .sidebar-nav,
    .sidebar-minimized .sidebar .nav{
        width: 40px !important;
    }
    .sidebar-minimized .sidebar .nav > .nav-dropdown:hover > .nav-dropdown-items{
        left: 40px !important;
    }
    .sidebar-minimized .sidebar .nav-item:hover,
    .sidebar-minimized .sidebar .nav-link:hover{
        width: 240px !important;
    }
    .sidebar-minimized .sidebar .nav-dropdown-items .nav-item{
        width: 200px !important;
    }
    .nav-dropdown-items > .nav-dropdown{
        position: relative;
    }
    .nav-dropdown-items > .nav-dropdown > .nav-dropdown-items{
        position: absolute;
        left: 100%;
        top: 0;
        background: #212121 !important;
        overflow: unset !important;
    }
    .sidebar-minimized .sidebar .nav-dropdown-items .nav-item .nav-link{
        width: 200px !important;
    }
    .nav-dropdown-items > .nav-dropdown > .nav-dropdown-items > li{
        background: #212121;
    }
    
}
.sidebar-minimized .sidebar .nav-item{
    width: 40px;
} */

.companyinfo {
  padding-top: 8px;
}

.companyinfo .title {
  color: white;
  font-size: 14px;
  font-weight: bold;
  display: inline-block;
}
.companyinfo .address {
  color: white;
  font-size: 12px;
  font-weight: bold;
  display: inline-block;
  padding-left: 8px;
}
.companyinfo .phone {
  color: white;
  font-size: 14px;
  font-weight: bold;
  display: inline-block;
  padding-left: 8px;
}
.companyinfo .software {
  color: white;
  font-size: 15px;
  font-weight: bold;
  display: inline-block;
  padding-left: 8px;
}

.form_error {
  border: 1px solid #e00 !important;
}
.custom-table table tr th {
  padding: 5px !important;
  text-align: center;
  vertical-align: middle;
}
.custom-table table tr td .form-control {
  padding: 0px 10px !important;
  height: 30px !important;
}
.custom-table table tr td {
  padding: 3px !important;
}
.input-custom .form-check-input {
  position: unset !important;
  margin-top: 0;
  margin-left: 10px !important;
}
.fixed-footer {
  position: fixed !important;
  bottom: 0px;
  width: 100%;
  left: 0px;
  z-index: 999;
}
.sidebar .nav-link {
  padding: 7px 5px !important;
}
@media (min-width: 991px) {
  .sidebar-minimized .sidebar .nav-link .nav-icon {
    width: 18px !important;
  }
  .sidebar-minimized .sidebar .nav-link .nav-icon {
    width: 24px !important;
  }
  .sidebar-minimized.sidebar-fixed .sidebar {
    width: 30px !important;
  }
  .sidebar-minimized .sidebar .nav > .nav-dropdown:hover > .nav-dropdown-items {
    left: 30px !important;
  }
  .sidebar-minimized .sidebar .nav-item,
  .sidebar-minimized .sidebar .sidebar-minimizer {
    width: 30px !important;
  }
  .sidebar-minimized .sidebar .nav-dropdown-items .nav-item {
    width: 200px !important;
  }
  .sidebar-minimized .sidebar .nav-link:hover {
    width: 230px !important;
    background: #20a8d8;
  }
  .sidebar-minimized .sidebar .nav-item:hover > .nav-link {
    background: #20a8d8;
  }
  .sidebar-minimized .sidebar .nav > .nav-dropdown:hover {
    width: 230px !important;
  }
  .sidebar-minimized .sidebar .nav-item > .nav-link .nav-icon {
    font-size: 16px !important;
  }
  .sidebar-minimized .sidebar .nav-link {
    font-size: 13px !important;
  }
  .app-header {
    height: 40px !important;
  }
  .app-header .navbar-toggler,
  .companyinfo,
  .d-md-down-none {
    position: relative;
    top: -5px;
  }
  .app-header .navbar-toggler-icon {
    height: 20px !important;
  }
  .img-avatar {
    height: 25px !important;
    position: relative;
    top: -5px;
  }
}
.header-fixed .app-body {
  margin-top: 40px !important;
}
.companyinfo span.organization {
  font-size: 13px !important;
}
.brand-minimized .app-header .navbar-brand .navbar-brand-minimized {
  position: relative;
  top: -7px;
}
.sidebar .nav-dropdown-items {
  overflow: hidden !important;
}
.no-border tr td,
.no-border tr th {
  border: 0px !important;
}
.no-border table tr td label {
  display: inline-block;
}
.no-border table tr td .form-control {
  display: inline-block;
  width: 75%;
  border: 0px !important;
  border-bottom: 1px solid #ddd !important;
}
.rwt__tab {
  border: 1px solid #ddd !important;
  font-size: 12px !important;
  padding: 15px !important;
  /* width: 70% !important; */
}
.rwt__tablist[aria-orientation="vertical"] {
  margin-right: 7px;
}
.breadcrumb {
  margin-left: -20px;
}
.sidebar-lg-show.sidebar-fixed.sidebar-minimized .app-footer {
  margin-left: 30px !important;
}
.card-header .card-title {
  color: #fff;
}
.app-footer {
  flex: 0 0 40px !important;
  height: 30px !important;
  line-height: 30px !important;
  font-size: 13px !important;
  background: #074e67 !important;
  color: #fff !important;
  position: fixed !important;
  width: 100% !important;
  z-index: 99;
  bottom: 0px;
}
.app-footer span a {
  color: #fff !important;
}
@media (max-width: 767px) {
  .footer {
    display: none !important;
  }
}
@media (max-width: 767px) {
  .sidebar-lg-show.sidebar-fixed.sidebar-minimized .app-footer {
    margin-left: 0px !important;
  }
  .app-footer {
    background: #00653c !important;
    color: #fff !important;
  }
  .app-footer .ml-auto {
    margin-left: unset !important;
  }
  .app-footer .ml-auto .pull-right {
    float: none !important;
    text-align: center !important;
  }
  .app-footer span {
    text-align: center;
    display: block;
    width: 100%;
    font-size: 12px;
    /* font-weight: 500; */
  }
  .item_description ul li {
    width: 100% !important;
    float: none !important;
  }
  .overview-div ul li {
    width: 100% !important;
    float: none !important;
  }
  .ward_num ul li div {
    border-radius: 0px;
  }
  .head_sum li {
    width: 33.33333%;
    float: left;
  }
  /* .mobile_menu{
    display: none !important;
  } */
  .head_sum .form-control {
    margin-bottom: 10px !important;
  }
  .mobile_down_arrow {
    padding-right: 15px;
    display: block;
  }
  .mobile_down_arrow .fa {
    color: #fff;
  }
  .companyinfo,
  .user_meta {
    background-color: #2a3f54 !important;
    width: 100% !important;
  }
  .companyinfo {
    padding-top: 10px !important;
    padding-bottom: 10px !important;
    line-height: 26px !important;
  }
  .user_meta {
    padding-bottom: 10px !important;
  }
  .toggle_header {
    display: inline-flex;
    color: #fff;
    font-size: 16px;
    position: relative;
    top: -4px;
    left: -20px;
  }
  .companyinfo {
    display: none;
  }
  .user_meta {
    display: none !important;
  }
  .show_mb_menu.companyinfo,
  .show_mb_menu.user_meta {
    display: block !important;
  }
  .app-body .sidebar {
    width: 100% !important;
    flex: unset !important;
  }
  html:not([dir="rtl"]) .sidebar {
    margin-left: 0px !important;
  }
  .app-body .sidebar {
    height: 300px !important;
    overflow-y: scroll;
  }
  .sidebar .sidebar-nav {
    width: 100% !important;
  }
  .sidebar .nav {
    width: 100% !important;
    padding-top: 15px !important;
  }
  .sidebar-minimized .sidebar .nav-dropdown-items {
    overflow: hidden !important;
  }
  .sidebar .nav-item {
    border-bottom: 1px dotted #5f4e4e;
  }
  .sidebar .nav-dropdown.open .nav-link {
    font-size: 13px !important;
    padding: 7px 0 !important;
  }
  .sidebar .nav-dropdown.open .nav-link {
    padding-left: 7px !important;
  }
  .sidebar .nav-link {
    font-size: 13px !important;
  }
  .sidebar {
    display: none !important;
  }
  .sidebar.mbl_menu {
    display: block !important;
  }
  .sidebar .nav-dropdown.open .nav-link {
    border-bottom: 1px dotted #5f4e4e;
  }
  #menu_tab ul li {
    display: block !important;
  }
  #menu_tab ul li a {
    width: 100% !important;
    display: block !important;
    border-right: 0px !important;
    padding-left: 15px !important;
  }
  .rwt__tablist[aria-orientation="vertical"] {
    display: block !important;
  }
  .tab_content_section {
    display: block !important;
    top: unset !important;
    padding-left: 0px !important;
  }
  .rwt__tabs[data-rwt-vertical="true"] {
    display: block !important;
  }
  .vertical_page_tabs .rwt__tab {
    display: block !important;
    width: 100% !important;
  }
  .vertical_page_tabs {
    padding: 0 10px !important;
  }
  #menu_tab {
    margin-right: 6px !important;
    margin-left: 6px !important;
  }
  .rwt__tablist[aria-orientation="vertical"]
    .rwt__tab[aria-selected="true"]:after {
    border: 0px !important;
  }
  .col-3,
  .col-4 {
    max-width: 100% !important;
    flex: 0 0 100% !important;
    padding-bottom: 10px !important;
  }
  .mobile_table .dataTables_paginate {
    background: #d6d0d0;
    padding: 10px 0;
    margin-bottom: 40px !important;
    margin-top: 10px !important;
  }
  .dataTables_info {
    background: #ebebeb;
    padding: 5px 0;
    margin-bottom: 10px;
    padding-top: 7px !important;
  }
  .print_btns {
    position: relative !important;
    top: 46px !important;
    right: unset !important;
  }
  .app-footer {
    position: unset !important;
    height: unset !important;
  }
  .nagarpalika_dashboard .breadcrumb {
    padding-left: 35px !important;
    padding-top: 20px !important;
  }
  .app-header .navbar-toggler:active {
    outline: none !important;
  }
  .app-footer .container-fluid {
    padding-left: 0px !important;
    padding-right: 0px !important;
  }
}
@media (min-width: 767px) {
  .powered_right {
    padding-right: 50px;
  }
  /* .footer{
    display: none !important;
  } */
}
.header-fixed .app-body {
  margin-bottom: 40px !important;
}
/* End mobile responsive css */
.footer {
  display: none !important;
}
.print_btns::after {
  clear: both;
  display: block;
  content: "";
}
/* body{
  display: none !important;
} */
.vertical_page_tabs h6 {
  color: #b95959;
  font-size: 12px;
}

.btnRefresh {
  float: right;
  position: absolute;
  right: 0;
  top: 0;
}

.loading-indicator:before {
  content: "";
  background: rgba(255, 255, 255, 0.9);
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 1000;
}

.loading-indicator:after {
  /* content: 'Loading'; */
  content: "\f110";
  font-family: FontAwesome;
  position: fixed;
  width: 100%;
  top: 50%;
  left: 0;
  z-index: 1001;
  /* color:#000; */
  color: #00d8ff;
  text-align: center;
  font-weight: bold;
  font-size: 40px;
  /* font-size:60px;  */
  animation: loading-bar-spinner 400ms linear infinite;
}

@keyframes loading-bar-spinner {
  0% {
    transform: rotate(0deg);
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
.rwt__tab[aria-selected="true"] {
  background: #fff;
}
.rwt__tab {
  border: 0px !important;
  border-bottom: 1px solid #ddd !important;
  border-left: 1px solid #ddd !important;
  background: #fff;
  /* padding: 10px 15px !important; */
  padding: 7px 10px !important;
  /* font-weight: 700; */
}
.rwt__tab:hover {
  background-color: #00d8ff !important;
}
.horizontal-page {
  /* height: 35px;
  overflow: hidden;
  padding-right: 20px; */
  position: relative;
  transition: all 500ms ease-in;
  -webkit-transition: all 500ms ease-in;
  -moz-transition: all 500ms ease-in;
  -o-transition: all 500ms ease-in;
}
/* .horizontal-page::after{
  position: absolute;
  content: "See More...";
  right: 70px;
  top: 0px;
  background-color: #fff;
  padding:  7px 10px !important;
  cursor: pointer;
  border-left: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
} */
/*.horizontal-page::after .horizontal-page{
  height: unset;
  padding-right: 0px;
} */
/* .horizontal-page:hover.horizontal-page::after{
  display: none;
} */
.horizontal-page:hover::after {
  display: none;
}
/* change password */
.reset-password-bg {
  background-color: #e4e5e6;
  margin-top: -20px;
  margin-bottom: -200px;
  padding-top: 80px;
}
.change-password {
  max-width: 300px;
  width: 100%;
  margin: 0 auto;
}
.dropdown .dropdown-item a {
  color: #23282c !important;
}
.img-user {
  height: 100px;
  width: 100px;
  margin: 0 auto;
  display: inherit;
}
.user-profile {
  text-align: center;
  font-weight: 1000;
  font-size: 11px;
  color: #009fe3;
}
.profile-detail p {
  font-weight: 600;
  font-size: 14px;
  display: inline-block;
}
.profile-detail p span {
  padding-left: 7px;
  font-weight: 400;
  font-style: italic;
}
.profile {
  padding-top: 36px !important;
}
.vertical_tabs .nav-tabs {
  display: block;
  border: 0px;
  /* position: fixed;
  width: 200px;
  top: 225px;
  margin-right: 25px; */
}
.vertical_tabs.fixed-tabs {
  position: fixed;
  width: 200px;
  top: 40px;
}
.vertical_tabs .nav-tabs .nav-item {
  border: 1px solid #c8ced3;
}
.vertical_tabs .nav-tabs .nav-link.active {
  border: 0px;
  background-color: #00d8ff !important;
  /* position: relative; */
}
.vertical_tabs .nav-tabs .nav-link.active {
  position: relative;
  background-color: #00d8ff !important;
}
.vertical_tabs .nav-tabs .nav-link.active::after {
  position: absolute;
  content: "";
  width: 0;
  height: 0;
  height: unset !important;
  right: -20px !important;
  top: -1px !important;
  border: 0 solid transparent;
  border-bottom-width: 20px;
  border-top-width: 20px;
  border-left: 20px solid #00d8ff;
  border-right: 0px !important;
}
.hiddenEdit {
  display: none;
}
.address_title {
  border-bottom: 1px solid #ddd;
  padding-bottom: 10px;
}
.pos-unset {
  position: unset !important;
}
.unset_checktree {
  list-style: none;
}
.amount {
  /* text-align: right; */
  float: right;
  display: block;
  /* position: relative;
  top: -26px; */
}
.width_500 {
  width: 500px;
}
.exam_detail {
  background: #ddd;
  padding-top: 10px;
  margin-top: -10px;
  border: 1px solid #555;
  border-top: 0px;
}
.exam_detail label {
  font-size: 14px !important;
  font-weight: 500;
}
.exam_detail span {
  font-size: 13px !important;
  display: inline-block;
  padding-left: 8px;
}
.exam_detail h6 {
  display: block;
  width: 100%;
  padding-left: 15px;
  color: #20a8f0;
  border-bottom: 1px solid #555;
  padding-bottom: 10px;
}
input.disabled {
  pointer-events: none;
  color: #aaa;
  background: #f5f5f5;
}
.exam_table {
  width: 100%;
}
.exam_table tr th,
.exam_table tr td {
  padding: 5px 15px;
}
.no_border {
  border-right: 0px;
}
.exam_table tr.unset_td td {
  background: #dddddd;
}
.unset_td td:last-child {
  display: none;
}
.payment_vocher {
  background-color: #e1f2fa;
  padding: 25px 15px;
  margin: 30px;
}
.payment_vocher h3 {
  text-align: center;
  font-size: 22px;
  text-transform: capitalize;
}
.payment_vocher h6 {
  margin-top: 10px;
  margin-bottom: 20px;
}
.payment_vocher table {
  width: 100%;
  border: 1px solid #212121;
  /* padding: 20px; */
}
.payment_vocher table tr td {
  border: 1px solid #212121;
  padding: 5px 15px;
}
.payment_vocher table tfoot tr td {
  background-color: #fff;
}
.payment_vocher .form-customize {
  position: unset !important;
  margin-top: 0;
  margin-left: 10px !important;
}
